body{
/*background-image:url("../es/content/media/free-hw.png");background-size:cover;*/
background-image:url("../cover.png");
background-size:auto 100%;
background-repeat:no-repeat;
background-color:whitesmoke;}


